body {
    margin:0;
    padding:0;
}
.back-ground{
    height: 140vh;
    width: 100%;
    background-image: url(imag/PotentialUI-1.png);
    background-position: center;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
    position: relative;
}
.logoandmore{
    width: 100%;
    height: 8vh;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo{
    width: 85px;
    height: 55px;
}
.ChooseFile {
    background-color: #35AFAA;
    border-radius: 12px;
    border: 2px solid white;
    color: white;
    padding: 8px 11px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Arial Rounded MT';
    box-shadow: 0 5px #2d2d2d;
    position: absolute;
    left: 600px;
}
.ChooseFile:hover {
    background-color: #2a8c88;
}
.ChooseFile:active {
    background-color: #35afaa;
    box-shadow: 0 4px #2d2d2d;
    transform: translateY(3px);
}

.upload{
    font-size: 19px;
    color: white;
    border-radius: 12px;
    border: 2px solid white;
    background-color: #35AFAA;
    padding: 6px 8px;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
    position: absolute;
    left: 720px;
}
.upload:hover {
    background-color: #2a8c88;
}
.upload:active {
    background-color: #35afaa;
    box-shadow: 0 4px #2d2d2d;
    transform: translateY(3px);
}
