body
{
    margin: auto;
    padding: 0;
    background-color: black;
}
.background{
    margin: auto;
}
.logo {
    margin: auto;
    margin-top: 0.1%;
    width: 5.5%;
    min-width: 75px;
}
hr{
    display: block;
    border-block-color: #35AFAA;
    border-block-end-style: solid;
    margin: auto;
    margin-top: 0.000000000001%;
    background-color: #35AFAA;
    height: 1.5px;
}
h1 {
    text-align: center;
    text-decoration-style: solid;
    font-size: 18px;
    font-family: 'Arial Rounded MT';
    text-transform: uppercase;
    color: #35AFAA;
}
h2 {
    text-align: center;
    text-decoration-style: solid;
    font-size: 18px;
    font-family: 'Arial Rounded MT';
    text-transform: uppercase;
    color: #35AFAA;
}
h3 {
    text-align: center;
    text-decoration-style: solid;
    font-size: 18px;
    font-family: 'Arial Rounded MT';
    text-transform: uppercase;
    color: #35AFAA;
}
h4 {
    text-align: center;
    text-decoration-style: solid;
    font-size: 18px;
    font-family: 'Arial Rounded MT';
    text-transform: uppercase;
    color: #35AFAA;
}
