body {
    margin: 0;
    padding: 0;
}

/*Styling properties for the background*/
.back-ground {
    height: 100vh;
    min-height: 700px;
    width:100%;
    min-width: 1000px;
    background: radial-gradient(ellipse 55% 70% at 5% 90%, #35AFAA, black);
}


/*Logo size*/
.logo {
    margin: auto;
    margin-top: 0.1%;
    width: 5.5%;
    min-width: 75px;
}
.top{
    width: 45%;
    min-width: 300px;
    min-height: 55px;
    padding-left: 40%;
}
hr {
    display: block;
    border-block-color: #35AFAA;
    border-block-end-style: solid;
    margin: auto;
    margin-top: 0.000000000001%;
    background-color: #35AFAA;
    height: 1.5px;
}

.GetStarted {
    background-color: #b2002b;
    border: crimson;
    border-radius: 12px;
    border-style: groove;
    border-color: #7a7a7a;
    color: white;
    padding: 15px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
    cursor: pointer;
    font-family: 'Arial Rounded MT';
    box-shadow: 0 17px 24px 0 rgba(0,0,0,0.2), 0 15px 28px 0 rgba(0,0,0,0.19);
    position: fixed;
    left: 13%;
    bottom: 20%;

}
.GetStarted a{
    text-decoration: none;
    color: white;
}
.GetStarted:active {
    background-color: #b2002b;
    box-shadow: 0 17px 24px 0 rgba(0,0,0,0.2), 0 15px 28px 0 rgba(0,0,0,0.19);
    transform: translateY(0.5px);
}

.CTA{
    height:80%;
    width:30%;
    min-width:70px;
    min-height: 140px;
    position: fixed;
    left: 60%;
    top: 10%;
}

.titleCCS{
    color: white;
    font-size: 250%;
    font-family: 'Arial Rounded MT';
    position:fixed;
    bottom: 50%;
    padding-left: 5%;
}
.Description{
    color:white;
    font-size: 100%;
    font-family: 'Arial Rounded MT';
    position: fixed;
    bottom: 40%;
    padding-left: 5%;
    padding-right: 65%;
    min-width: 300px;
}
.infopage{
    color: white;
    text-decoration: none;
    font-size: 90%;
    font-family: 'Arial Rounded MT';
    position: fixed;
    bottom: 5%;
    padding-left: 95%;
}
.infopage a{
    text-decoration: none;
    color: white;
}
.infopage a:hover{
    color: #35AFAA;
}
