body {
    margin: auto;
    padding: 0;
    background-color: black;
    /*min-width: 100S;*/
}

/*Styling properties for the background*/
.back-ground {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 90%;
    /*grid-column-gap: 0px;*/
    /*grid-row-gap: 0px;*/
    width: 100%;
    height: 100vh;
    min-height: 250px;
    margin: auto;
}

.pageHeader {
    grid-column: 1/end;
    grid-row: 1;
}

.buttons {
    grid-column: 1/2;
    grid-row: 2;
}

.logo {
    margin: auto;
    margin-top: 0.1%;
    position: relative;
    width: 5.43%;
    min-width: 75px;
}

/*Info button: Styling properties*/
.info {
    margin: auto;
    font-size: 17px;
    color: white;
    border-radius: 10px;
    border: 2px solid #35afaa;
    border-spacing: 25px;
    background-color: black;
    color: #35afaa;
    position: relative;
    top: -30%;
    left: 91%;
    min-block-size: 5%;
    width: 2%;
    min-width: 0.2%;
    font-size: 120%;
    padding-top: 0.35%;
    padding-bottom: 0.35%;
    padding-left: 0.7%;
    padding-right: 1.1%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}

    .info a {
        text-decoration: none;
        color: #35afaa;
        font-size: 24px;
        font-weight: bold;
    }

    /*When mouse goes over the button for more info, the color of the button changes*/
    .info:hover {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .info:active {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }

hr {
    display: block;
    border-block-color: #35AFAA;
    border-block-end-style: solid;
    margin: auto;
    position: relative;
    top: -14.4%;
    width: 99.89%;
    background-color: #35AFAA;
    height: 1.6px;
}

buttons {
    position: relative;
    top: 2%;
    left: 5%;
}


/*p4 corresponds to brush size (plus and minus)*/
p4 {
    position: fixed;
    left: 6.5%;
    top: 12.5%;
    font-size: 12px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

.bplus {
    margin: auto;
    color: #35AFAA;
    border-radius: 60%;
    border: 2px solid #35afaa;
    background-color: black;
    color: #35afaa;
    position: fixed;
    left: 6.5%;
    top: 15%;
    min-block-size: 3%;
    width: 1.5%;
    min-width: 0.5%;
    font-size: 110%;
    padding-top: 0.14%;
    padding-bottom: 0.06%;
    padding-left: 0.33%;
    padding-right: 1%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}

    /*When mouse goes over the button for more info, the color of the button changes*/
    .bplus:hover:enabled {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .bplus:active:enabled {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }

    .bplus:disabled {
        cursor: not-allowed;
        color: #428784;
        border-color: #428784;
    }

.bminus {
    margin: auto;
    color: #35AFAA;
    border-radius: 60%;
    border: 2px solid #35afaa;
    background-color: black;
    color: #35afaa;
    position: fixed;
    left: 8.5%;
    top: 15%;
    min-block-size: 3%;
    width: 1.5%;
    min-width: 1%;
    font-size: 110%;
    padding-top: 0.14%;
    padding-bottom: 0.06%;
    padding-left: 0.33%;
    padding-right: 1%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}

    /*When mouse goes over the button for more info, the color of the button changes*/
    .bminus:hover:enabled {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .bminus:active:enabled {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }

    .bminus:disabled {
        cursor: not-allowed;
        color: #428784;
        border-color: #428784;
    }

/*p5 corresponds to brush color selection*/
p5 {
    position: fixed;
    left: 12%;
    top: 12.5%;
    font-size: 12px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

select {
    position: fixed;
    left: 11.75%;
    top: 14.75%;
}

#Color {
    color: black;
    font-size: 15px;
    font-weight: bold;
    background-color: #35AFAA;
    border-radius: 8px;
    border: 1px solid black;
}

    #Color:disabled {
        cursor: not-allowed;
    }

/*p1 corresponds to brush*/
p1 {
    position: fixed;
    left: 3%;
    top: 11%;
    font-size: 14px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

.brush {
    margin: auto;
    color: #35AFAA;
    border-radius: 25%;
    border: 2px solid #35afaa;
    background-color: black;
    color: #35afaa;
    position: fixed;
    left: 3%;
    top: 14%;
    min-block-size: 5%;
    width: 2%;
    min-width: 0.5%;
    font-size: 120%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.5%;
    padding-right: 1.7%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}

    /*When mouse goes over the button for more info, the color of the button changes*/
    .brush:hover {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .brush:active {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }
    /*Changes color when the user works with this button*/
    .brush:focus {
        background-color: #35afaa;
        color: black;
    }
/*p2 corresponds to zoom*/
p2 {
    position: fixed;
    top: 43%;
    left: 3%;
    font-size: 14px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

.zoom {
    margin: auto;
    color: #35AFAA;
    border-radius: 25%;
    border: 2px solid #35afaa;
    background-color: black;
    color: #35afaa;
    position: fixed;
    left: 3%;
    top: 46%;
    min-block-size: 5%;
    width: 2%;
    min-width: 0.5%;
    font-size: 120%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.5%;
    padding-right: 1.67%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}


    /*When mouse goes over the button for more info, the color of the button changes*/
    .zoom:hover {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .zoom:active {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }
    /*Changes color when the user presses on this button*/
    .zoom:focus {
        background-color: #35afaa;
        color: black;
    }

/*p3 corresponds to pan*/
p3 {
    position: fixed;
    top: 52%;
    left: 3.25%;
    font-size: 14px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

.pan {
    margin: auto;
    color: #35AFAA;
    border-radius: 25%;
    border: 2px solid #35afaa;
    background-color: black;
    color: #35afaa;
    position: fixed;
    left: 3%;
    top: 55%;
    min-block-size: 5%;
    width: 2%;
    min-width: 0.5%;
    font-size: 120%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.55%;
    padding-right: 1.65%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}

    /*When mouse goes over the button for more info, the color of the button changes*/
    .pan:hover {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .pan:active {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }
/*Changes color when the user presses on this button*/
    .pan:focus {
        background-color: #35afaa;
        color: black;
    }

/*p6 corresponds to clear brush*/
p6 {
    position: fixed;
    top: 20%;
    left: 1.75%;
    font-size: 14px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

.clear {
    margin: auto;
    color: #35AFAA;
    border-radius: 25%;
    border: 2px solid #35afaa;
    background-color: black;
    color: #35afaa;
    position: fixed;
    left: 3%;
    top: 23%;
    min-block-size: 5%;
    width: 2%;
    min-width: 0.5%;
    font-size: 120%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.6%;
    padding-right: 1.55%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}

    /*When mouse goes over the button for more info, the color of the button changes*/
    .clear:hover {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .clear:active {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }
/*p7 corresponds to undo brush*/
p7 {
    position: fixed;
    top: 20%;
    left: 8%;
    font-size: 14px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

.undo {
    margin: auto;
    color: #35AFAA;
    border-radius: 25%;
    border: 2px solid #35afaa;
    background-color: black;
    color: #35afaa;
    position: fixed;
    left: 9.25%;
    top: 23%;
    min-block-size: 5%;
    width: 2%;
    min-width: 0.5%;
    font-size: 120%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.5%;
    padding-right: 1.6%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}

    /*When mouse goes over the button for more info, the color of the button changes*/
    .undo:hover {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .undo:active {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }

/*p8 corresponds to redo brush*/
p8 {
    position: fixed;
    top: 20%;
    left: 14.5%;
    font-size: 14px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

.redo {
    margin: auto;
    color: #35AFAA;
    border-radius: 25%;
    border: 2px solid #35afaa;
    background-color: black;
    color: #35afaa;
    position: fixed;
    left: 15.65%;
    top: 23%;
    min-block-size: 5%;
    width: 2%;
    min-width: 0.5%;
    font-size: 120%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.5%;
    padding-right: 1.65%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}

    /*When mouse goes over the button for more info, the color of the button changes*/
    .redo:hover {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .redo:active {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }

/*p9 corresponds to length button*/
p9 {
    position: fixed;
    top: 61%;
    left: 3%;
    font-size: 14px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

.lengthl {
    margin: auto;
    color: #35AFAA;
    border-radius: 25%;
    border: 2px solid #35afaa;
    background-color: black;
    color: #35afaa;
    position: fixed;
    left: 3%;
    top: 64%;
    min-block-size: 5%;
    width: 2%;
    min-width: 0.5%;
    font-size: 120%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.5%;
    padding-right: 1.77%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}

    /*When mouse goes over the button for more info, the color of the button changes*/
    .lengthl:hover {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .lengthl:active {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }
/*Changes color when the user presses on this button*/
    .lengthl:focus{
        background-color: #35afaa;
        color: black;
    }

/*p11 corresponds to the low pixel intensity threshold*/
p11 {
    position: fixed;
    top: 29%;
    left: 1.75%;
    font-size: 14px;
    font-family: Georgia, serif;
    color: #35AFAA;
}
#userMinThreshold {
    position: fixed;
    top: 32%;
    left: 2%;
}



/*p11 corresponds to the high pixel intensity threshold*/
p12 {
    position: fixed;
    top: 36%;
    left: 1.75%;
    font-size: 14px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

#userMaxThreshold{
    position: fixed;
    top: 39%;
    left: 2%;
}
/*style for the sliders for the low and high pixel intensity threshold*/
input[type="range"] {
    margin: 30px 0 20px 0;
    -webkit-appearance: none;
    background-color: #808080;
    height: 3px;
    margin: 10px auto;
}

    input[type="range"]:focus {
        outline: none;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        background: #35afaa;
        border-radius: 50%;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

/*p10 corresponds to the display statistics*/
p10 {
    position: fixed;
    top: 70%;
    left: 1%;
    font-size: 14px;
    font-family: Georgia, serif;
    color: #35AFAA;
}

.statsb {
    margin: auto;
    color: #35AFAA;
    border-radius: 25%;
    border: 2px solid #35afaa;
    background-color: black;
    color: #35afaa;
    position: fixed;
    left: 3%;
    top: 73%;
    min-block-size: 2%;
    width: 2%;
    min-width: 0.5%;
    font-size: 120%;
    padding-top: 0.4%;
    padding-bottom: 0.4%;
    padding-left: 0.55%;
    padding-right: 1.57%;
    cursor: pointer;
    box-shadow: 0 5px #2d2d2d;
}

    /*When mouse goes over the button for more info, the color of the button changes*/
    .statsb:hover {
        background-color: #1e1e1e;
    }

    /*Gives the sensation of a real button, just click on it*/
    .statsb:active {
        background-color: black;
        box-shadow: 0 4px #2d2d2d;
        transform: translateY(3px);
    }
/*Changes color when the user presses on this button*/
    .statsb:focus {
        background-color: #35afaa;
        color: black;
    }
.stats {
    border: 1px groove #808080;
    border-radius: 1%;
    position: relative;
    left: -5%;
    top: -1.5%;
    font-family:'Arial Rounded MT';
    font: italic;
    background-color: #343434;
    width: 103.5% ;
    height: 101%;
}
.stats h{
    text-decoration-line: underline;
}
#output1c {
    color: red;
    font-family:'Times New Roman';
}
#output1v {
    color: red;
    font-family: 'Times New Roman';
}

#output1a {
    color: red;
    font-family: 'Times New Roman';
}
#output1d {
    color: red;
    font-family: 'Times New Roman';
}
#output2c {
    color: dodgerblue;
    font-family: 'Times New Roman';
}

#output2a {
    color: dodgerblue;
    font-family: 'Times New Roman';
}
#output2v {
    color: dodgerblue;
    font-family: 'Times New Roman';
}

#output2d {
    color: dodgerblue;
    font-family: 'Times New Roman';
}

#output3c {
    color: lime;
    font-family: 'Times New Roman';
}
#output3v {
    color: lime;
    font-family: 'Times New Roman';
}

#output3a {
    color: lime;
    font-family: 'Times New Roman';
}

#output3d {
    color: lime;
    font-family: 'Times New Roman';
}

#output4c {
    color: fuchsia;
    font-family: 'Times New Roman';
}
#output4v {
    color: fuchsia;
    font-family: 'Times New Roman';
}

#output4a {
    color: fuchsia;
    font-family: 'Times New Roman';
}

#output4d {
    color: fuchsia;
    font-family: 'Times New Roman';
}
#output5c {
    color: hotpink;
    font-family: 'Times New Roman';
}

#output5a {
    color: hotpink;
    font-family: 'Times New Roman';
}
#output5v {
    color: hotpink;
    font-family: 'Times New Roman';
}

#output5d {
    color: hotpink;
    font-family: 'Times New Roman';
}
.viewer {
    /*background-color: #302f2f;*/
    width: 80%;
    height: 100%;
    min-width: 100px;
    position: relative;
    left: 8%;
    top: -1%;

}
    .viewer::before {
        content: "Drag & Drop";
        color: #302f2f;
        text-align: center;
        font-size: 30px;
        font-weight: bolder;
        font-family: 'Arial Rounded MT';
        position: absolute;
        top: 45%;
        left: 36%;
        z-index: -1;
    }

#viewer {
    border: groove;
    border-color: white;
    width: 90%;
    height: 95%;
    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    color: #5f8c8a;
}

/*p10 {
    color: #302f2f;
    text-align: center;
    position: relative;
    top: 50%;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Arial Rounded MT';
    left: 38%;
}*/
